.chat-side
  .chat-side__header
    .chat-side__header__box
      .chat-side__header__box__username
        伊藤
      .chat-side__header__box__new
      = link_to "#", class: "chat-side__header--box" do
        = icon('fas', 'edit') 
      = link_to "#", class: "chat-side__header--box" do
        = icon('fas', 'cog') 

  .chat-side__groups